.btn_ {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 1px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: move;
    cursor: pointer;
    display: inline-block;
    text-align: -webkit-center;
}

.btnSmall {
    width: 29px;
}

.btnBig {
    width: 55px;
    padding-left: 7px;
    padding-right: 8px;
}

.btnActive {
    background-color: #6a6d6a;
    color: #f1f5f6;
}

.btnDefault {
    color: #6a6d6a;
    background-color: white;
}

.buttonWrapper {
    margin-right: 2.5px;
    margin-left: 2.5px;
}
